{% extends 'portfolio/index.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}

<div class = "container my-3">
    <div class = "text-center my-3">Contact Me</div>
    <form action = "/contact/" method = "POST">{% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name = "name">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="text" class="form-control" id="phone" name = "phone">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="email" name = "email">
        </div>
        <div class="mb-3">
            <label for="concern" class="form-label">Concern:</label><br>
            <textarea name = "concern" id = "concern" name = "concern" cols="100" rows="10"></textarea>
        </div>

        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}